$yellow-p: #E8D33F;
$lic: #11110F;


//this is setup that would work for any project
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.App {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px(default) = 62.5% => 1rem = 10px
}

.body {
    font-family: CenturyGothic, Helvetica, sans-serif;
    color: $lic;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;
}
//setup finishes above
