$yellow-p: #E8D547;
$yellow-darker: #998A1E;
$red-p: #C60000;
$red-darker: #750000;
$blue-p: darkblue;
$blue-darker: #051335;
$grey-p:  #B5B7BC;
$smoke: whitesmoke;
$grey: grey;
$lic: #11110F;


//helper classes
.spanishColor {
    color: $yellow-p
}
.englishColor {
    color: $red-p
}


//this is setup that would work for any project
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.App {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px(default) = 62.5% => 1rem = 10px
    min-height: 100vh;
}

.body {
    font-family: Muli, Helvetica, sans-serif;
    color: $lic;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;
}
//setup finishes above
