.controls {
    width: 100%;
    grid-column: 1 / -1;
    background-color: #F3F8F2;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
}

.main-content {
    width: 100%;
    grid-column: 1 / -1;

}