.overview {
    width: 100%;
    height: 100vh;
    padding: 3rem 2rem 1rem 2rem;
    background-size: cover;
    background-image: url("../images/image_persons_laptop.jpg");

    &__header {
        font-size: 2rem;
        padding: .5rem;
    }

    &__instruction {
        font-size: 1rem;
        padding: .2rem;
    }

}