.readyscreen {
    width: 100%;
    font-size: 1rem;
    padding: 2rem;
    text-align: center;

    &__header {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__translation {
        font-size: 1rem;
        color: $grey; 
    }

}