.spanishColor {
  color: #E8D547; }

.englishColor {
  color: #C60000; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.App {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100vh; }

.body {
  font-family: Muli, Helvetica, sans-serif;
  color: #11110F;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center; }

.controls {
  width: 100%;
  height: 5.25rem;
  grid-column: 1 / -1;
  background-color: #F3F8F2;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center; }

.main-content {
  width: 100%;
  grid-column: 1 / -1; }

.nav {
  grid-column: 1 / -1;
  background-color: #B5B7BC;
  padding: 1rem;
  width: 100%;
  color: whitesmoke; }
  .nav__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none; }
  .nav__logo {
    font-size: 1.8rem;
    grid-column: 1 / 2;
    align-self: center; }
  .nav__item {
    font-size: 1.2rem;
    grid-column: 2 / 3;
    padding: .5rem;
    border: 2px solid whitesmoke;
    justify-self: end;
    align-self: center; }

.timer {
  grid-column: 3 / 7;
  background-color: #B5B7BC;
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(to top, #B5B7BC, #97999E); }
  .timer__countdown {
    grid-column: 3 / 5;
    font-size: 1.8rem;
    color: white;
    justify-self: start;
    margin-left: 1rem; }
  .timer__button {
    grid-column: 1 / 3;
    font-size: 1.1rem;
    background-color: whitesmoke;
    min-width: 10rem;
    padding: 5px;
    border-radius: 50px;
    justify-self: end;
    margin-bottom: .5rem;
    box-shadow: 3px 3px 5px grey; }
    .timer__button:hover {
      background-color: #E2E2E2;
      cursor: pointer; }

.player {
  align-self: stretch;
  width: 100%;
  padding: .5rem;
  display: flex;
  justify-content: center; }
  .player--1 {
    grid-column: 1 / 3;
    align-items: center; }
  .player--2 {
    grid-column: 7 / 9;
    align-items: center;
    flex-direction: row-reverse; }
  .player__icon {
    height: 3rem;
    width: 3rem; }
  .player__level-select {
    background-color: white;
    position: relative;
    margin: .6rem;
    padding: .4rem;
    outline: none; }
    .player__level-select .p {
      font-size: .2rem; }
    .player__level-select:hover {
      background-color: whitesmoke; }
  .player__select-text {
    font-size: .7rem; }
  .player__level-text {
    font-weight: bold;
    margin-top: 2px; }
  .player__level-text-active {
    font-size: .8rem;
    padding: .8rem;
    font-weight: bold;
    margin: 1rem;
    padding: .5rem; }
  .player__select-original {
    position: absolute;
    width: 95%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.4rem;
  line-height: 1.5; }

h3 {
  font-size: 1.2rem;
  line-height: 1.5; }

p {
  font-size: 1rem; }

.talkpoint {
  width: 100%;
  min-height: 90vh;
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 1rem; }
  .talkpoint__container {
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: .5rem;
    background-size: 100%;
    padding-right: 6rem;
    padding-left: 6rem; }
  .talkpoint__header {
    padding: .5rem 2rem;
    color: whitesmoke;
    font-size: 1.6rem;
    border-radius: 3px;
    min-width: 18rem;
    max-width: 24rem; }
  .talkpoint__main {
    grid-column: 1 / 6;
    padding: .5rem 2rem;
    width: 100%;
    border-radius: 3px;
    background-color: whitesmoke; }
    .talkpoint__main--targetlang {
      font-size: 2.5rem;
      padding-bottom: .4rem; }
    .talkpoint__main--translation {
      font-size: 1rem;
      color: grey; }
  .talkpoint__prompts {
    width: 100%;
    grid-column: 1 / 4;
    background-color: whitesmoke;
    border-radius: 3px; }
    .talkpoint__prompts__header {
      font-size: 1rem;
      width: 100%;
      background-color: darkblue;
      color: white;
      padding: .5rem;
      height: 2.5rem; }
    .talkpoint__prompts__prompt-container {
      padding: .5rem; }
    .talkpoint__prompts--targetlang {
      font-size: 1.4rem; }
    .talkpoint__prompts--translation {
      font-size: .8rem;
      color: grey; }
  .talkpoint__vocabulary {
    width: 100%;
    grid-column: 4 / 6;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .talkpoint__vocabulary__header {
      font-size: 1rem;
      width: 100%;
      background-color: darkblue;
      color: white;
      padding: .5rem;
      height: 2.5rem;
      grid-column: 1 / 3; }
    .talkpoint__vocabulary--verbs, .talkpoint__vocabulary--nouns {
      font-size: 1.2rem;
      padding: .5rem;
      line-height: 2; }
      .talkpoint__vocabulary--verbs span, .talkpoint__vocabulary--nouns span {
        font-size: .8rem;
        color: grey; }

.hourglass {
  width: 90%;
  height: 1.2rem;
  margin: .5rem 0;
  grid-column: 1 / 5;
  align-self: center;
  border-radius: 1cm;
  position: relative;
  display: hidden; }
  .hourglass-glass {
    width: 100%;
    height: 1.2rem;
    border-radius: 1cm;
    background-color: white;
    position: absolute; }
  .hourglass-sand {
    height: 1.2rem;
    border-radius: 1cm;
    position: absolute; }

.overview {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  font-size: 1rem;
  padding: 2rem; }
  .overview span {
    font-weight: bold;
    padding: 0 .2rem; }
  .overview__spanish {
    grid-column: 1 / 2;
    text-align: end; }
  .overview__english {
    grid-column: 2 / 3; }
  .overview__instruction {
    padding: .3rem; }
    .overview__instruction--final {
      padding-top: 2rem; }
    .overview__instruction--header {
      font-size: 2rem;
      margin-bottom: 1rem; }
  .overview__button-container {
    grid-column: 1 / 3;
    text-align: center;
    justify-self: center;
    margin-top: 1rem; }
  .overview__button {
    font-size: 1.1rem;
    background-color: #E2E2E2;
    width: 10rem;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 1px 2px 3px grey;
    text-align: center; }
    .overview__button:hover {
      background-color: whitesmoke;
      cursor: pointer; }

.readyscreen {
  width: 100%;
  font-size: 1rem;
  padding: 2rem;
  text-align: center; }
  .readyscreen__header {
    font-size: 2rem;
    margin-bottom: 1rem; }
  .readyscreen__translation {
    font-size: 1rem;
    color: grey; }
